/build
.DS_Store
/.idea/
/build/
/gradlew.bat
/app/build/
/local.properties
/app/app.iml
/gradlew
/app/*.apk
.gradle
*.iml
#/gradle
/app/.externalNativeBuild
/datawarehouse/build/
/fastImageProcessing/build/
/libyuv/build/
/app/src/main/gen/
/datawarehouse/src/main/gen/
/datawarehouse/src/main/java/com/aidebar/greendaotest/gen/
/fastImageProcessing/src/main/gen/
/nightfury/build/
/nightfury/lib.iml
/nightfury/nightFury.iml
*.log
/app/release/